.active_cases_container {
  h2 {
    color: #f5deb3;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 24px;
    font-size: 16px;
  }

  .critical {
    color: #ef7d08d9;
  }

  .middle {
    color: #8080FF;
  }
}